<strong> Hi, {{student }} </strong>
<p>Your question about the gym was answered by {{ admin }}:</p>
<p>
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
  <strong>Answered at: </strong> {{ answerAt }} <br />
  <br />
  <p>If you have any trouble, come talk to us!</p>
</p>
